name: Test
on:
  pull_request:
    branches:
      - master
      - develop

jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout source code.
        uses: actions/checkout@master
        with:
          ref: ${{ github.ref }}

      - name: Run tests
        run: yarn test
